.article-deviation:target{
    padding-top: 110px !important;
}

.header .menu{
    line-height: 84px;
    z-index: 9999; 
    position: fixed;
    width: 100%;
    top: 0px;
}

.bg-blue{
    background-color: #2F3B49;
}

.navbar-brand img{
    width: 100px;
}

/* banner */
.banner{
    background-color: rgb(116, 123, 136);
    height: 330px;
}

.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 0px;
    position: relative;
}
.owl-theme .owl-dots .owl-dot.active span {
    background: #2F3B49;
}
.owl-theme .owl-dots .owl-dot span {
    background: #f5eed7;
}

/* 引言 */
.preface{
    background-color: rgb(116, 123, 136);
    height: 850px;
    color: white;
    font-weight: 500;
    font-size: 26px;
    font-family: DFKai-sb;
    letter-spacing: 3px;
    position: relative;
}
.preface01{
    position: absolute;
    left: 250px;
    top: 70px;
    text-shadow: 0 0 10px #F4F4F4,0 0 20px #F4F4F4;
} 
.preface02{
    position: absolute;
    left: 250px;
    top: 130px;
    text-shadow: 0 0 10px #F4F4F4,0 0 20px #F4F4F4;
} 
.preface03{
    position: absolute;
    left: 250px;
    top: 190px;
    text-shadow: 0 0 10px #F4F4F4,0 0 20px #F4F4F4,0 0 30px #F4F4F4;
} 
.preface04{
    position: absolute;
    left: 250px;
    top: 250px;
    text-shadow: 0 0 10px #F4F4F4,0 0 20px #F4F4F4,0 0 30px #F4F4F4;
} 

/* .rule{
    color: rgb(39, 26, 36);
    font-size: 22px;
    white-space: pre;
    font-family: Microsoft JhengHei;
    letter-spacing: 1px;
    position: absolute;
    left: 50px;
    top: 380px;
} */

/* 塔羅
.tarot{
    background-color: rgb(116, 123, 136);
    height: 400px;
} */

/* 介紹 */
.productIntroduction{
    background-color: rgb(116, 123, 136);
    height: 550px;
}
.productPhoto{
    background: url(../img/tarot-introduction.JPG) center center no-repeat;
    background-size: contain;
    height: 500px;
    margin-top: 80px;
}
.productText{
    color: rgb(44, 32, 49);
    font-size: 18px;
    white-space: pre;
    font-family: Microsoft JhengHei;
    letter-spacing: 1px;
    text-align: center;
}

.logoIntroduction{
    background-color: rgb(116, 123, 136);
    height: 550px;
}

.logoText {
    color: rgb(36, 46, 33);
    font-size: 26px;
    white-space: pre;
    font-family: Microsoft JhengHei;
    letter-spacing: 1px;
    text-align: center;
}
.logoText p{
    margin-bottom: 0px;
}

.logoPhoto{
    background: url(../img/logo-introduction.PNG) center center no-repeat;
    background-size: contain;
    height: 350px;
    margin-top: 80px;
}

.packageIntroduction{
    background-color: rgb(116, 123, 136);
    height: 550px;
}
.packagePhoto{
    background: url(../img/package-introduction.JPG) center center no-repeat;
    background-size: contain;
    height: 350px;
    margin-top: 80px;
}

.packageText {
    color: rgb(44, 32, 49);
    font-size: 26px;
    white-space: pre;
    font-family: Microsoft JhengHei;
    letter-spacing: 1px;
    text-align: center;
}
.packageText p{
    margin-bottom: 0px;
}

.candleIntroduction{
    background-color: rgb(116, 123, 136);
    height: 550px;
}
.candlePhoto{
    background: url(../img/team-introduction.png) center center no-repeat;
    background-size: contain;
    height: 350px;
    margin-top: 80px;
}

.candleText{
    color: rgb(36, 46, 33);
    font-size: 26px;
    white-space: pre;
    font-family: Microsoft JhengHei;
    letter-spacing: 1px;
    text-align: center;
}
.candleText p{
    margin-bottom: 0px;
}



/* 回頂端按鈕 */
.toTopBtn{
    display: block;
    position: fixed;
    cursor: pointer;
    right: 30px;
    bottom: 30px;
    width: 45px;
    height: 45px;
    background: #dad0a7;
    color: rgb(255, 255, 255);
    font-size: x-large;
    z-index: 9999;
    box-shadow: 2px 2px 10px #f7ed94;
    border-radius: 5px;
    opacity: 0.5;
    filter: Alpha(opacity=50);
    transform: translateY(0%);
    transition: all 0.2s linear;
}
.toTopBtn:hover{
    opacity: 0.9;
    filter: Alpha(opacity=90);
} 

.toTopBtn.hide{
    opacity: 0;
    filter: Alpha(opacity=0);
    transform: translateY(150%);
}

.toTopBtn i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* footer */
.footer{
    background-color: #2F3B49;
    color: #F4F4F4;
    height: 300px;
    padding: 50px 30px 0;
    font-size: 18px;
}


/* 響應式 RWD 
--------------------------*/
@media (min-width:1681px) and (max-width:1920px) {
     /* top */
    .navbar{
        font-size: 44px;
    }
    .navbar .dropdown-item{
        font-size: 42px;
    }
    .navbar-brand img {
        width: 400px;
    }
      .owl-theme .owl-dots .owl-dot span {
        width: 20px;
        height: 20px;
        margin: 5px 20px;
    }
    .owl-theme .owl-nav.disabled+.owl-dots {
        margin-top: 3px;
        position: relative;
    }

    .banner{
        height: 500px;
    }
    
  
    /* 介紹  */
    .preface {
        height: 600px;
        font-size: 65px;
    }
    .preface01{
        left: 200px;
        top: 100px;
    }
    .preface02{
        left: 250px;
        top: 200px;
    }
    .preface03{
        right: 250px;
        top: 350px;
    }

    .productIntroduction{
        height: 1200px;
    }
    .productText{
        font-size: 36px;
    }
    .productPhoto {
        height: 650px;
        padding-right: 50px;
    }

    .logoIntroduction{
        height: 1200px;
    }
    .logoText{
        font-size: 36px;
    }
    .logoPhoto {
        height: 650px;
    }

    .packageIntroduction{
        height: 1200px;
    }
    .packageText{
        font-size: 36px;
    }
    .packagePhoto {
        height: 650px;
    }

    .candleIntroduction{
        height: 1200px;
    }
    .candleText{
        font-size: 36px;
    }
    .candlePhoto {
        height: 650px;
    }

    /* 回頂端按鈕 */
    .toTopBtn{
        width: 90px;
        height: 90px;
        font-size: 50px;
    }

    /* 底部 */
    .footer{
        height: 450px;
        padding: 60px 60px 0;
        font-size: 32px;
    }
}

@media (min-width:1550px) and (max-width:1680px) {
    /* top */
    .navbar{
        font-size: 42px;
    }
    .navbar .dropdown-item{
        font-size: 40px;
    }
    .navbar-brand img {
        width: 350px;
    }
      .owl-theme .owl-dots .owl-dot span {
        width: 18px;
        height: 18px;
        margin: 5px 18px;
    }
    .owl-theme .owl-nav.disabled+.owl-dots {
        margin-top: 3px;
        position: relative;
    }

    .banner{
        height: 500px;
    }
    
  
    /* 介紹  */
    .preface {
        height: 600px;
        font-size: 60px;
    }
    .preface01{
        left: 200px;
        top: 100px;
    }
    .preface02{
        left: 250px;
        top: 200px;
    }
    .preface03{
        right: 250px;
        top: 350px;
    }

    .productIntroduction{
        height: 1200px;
    }
    .productText{
        font-size: 36px;
    }
    .productPhoto {
        height: 650px;
        padding-right: 50px;
    }

    .logoIntroduction{
        height: 1200px;
    }
    .logoText{
        font-size: 36px;
    }
    .logoPhoto {
        height: 650px;
    }

    .packageIntroduction{
        height: 1200px;
    }
    .packageText{
        font-size: 36px;
    }
    .packagePhoto {
        height: 650px;
    }

    .candleIntroduction{
        height: 1200px;
    }
    .candleText{
        font-size: 36px;
    }
    .candlePhoto {
        height: 650px;
    }

    /* 回頂端按鈕 */
    .toTopBtn{
        width: 85px;
        height: 85px;
        font-size: 45px;
    }

    /* 底部 */
    .footer{
        height: 400px;
        padding: 40px 60px 0;
        font-size: 30px;
    }
}

@media (min-width:1300px) and (max-width:1549.9px) {
    /* top */
    .navbar{
        font-size: 36px;
    }
    .navbar .dropdown-item{
        font-size: 32px;
    }
    .navbar-brand img {
        width: 330px;
    }
      .owl-theme .owl-dots .owl-dot span {
        width: 15px;
        height: 15px;
        margin: 5px 15px;
    }
    .owl-theme .owl-nav.disabled+.owl-dots {
        margin-top: 3px;
        position: relative;
    }
    
  
    /* 介紹  */
    .preface {
        height: 600px;
        font-size: 45px;
    }
    .preface01{
        left: 200px;
        top: 200px;
    }
    .preface02{
        left: 250px;
        top: 300px;
    }
    .preface03{
        right: 250px;
        top: 450px;
    }

    .productIntroduction{
        height: 1000px;
    }
    .productText{
        font-size: 34px;
    }
    .productPhoto {
        height: 600px;
    }

    .logoIntroduction{
        height: 1000px;
    }
    .logoText{
        font-size: 34px;
    }
    .logoPhoto {
        height: 600px;
    }

    .packageIntroduction{
        height: 1000px;
    }
    .packageText{
        font-size: 34px;
    }
    .packagePhoto {
        height: 600px;
    }

    .candleIntroduction{
        height: 1000px;
    }
    .candleText{
        font-size: 34px;
    }
    .candlePhoto {
        height: 600px;
    }

    /* 回頂端按鈕 */
    .toTopBtn{
        width: 75px;
        height: 75px;
        font-size: 38px;
    }

    /* 底部 */
    .footer{
        height: 350px;
        padding: 40px 60px 0;
        font-size: 26px;
    }
}

@media (min-width:1200px) and (max-width:1299.9px) {
    /* top */
    .navbar{
        font-size: 34px;
    }
    .navbar .dropdown-item{
        font-size: 30px;
    }
    .navbar-brand img {
        width: 300px;
    }
      .owl-theme .owl-dots .owl-dot span {
        width: 12px;
        height: 12px;
        margin: 3px 10px;
    }
    .owl-theme .owl-nav.disabled+.owl-dots {
        margin-top: 3px;
        position: relative;
    }
    
  
    /* 介紹  */
    .preface {
        height: 600px;
        font-size: 40px;
    }
    .preface01{
        left: 100px;
        top: 120px;
    }
    .preface02{
        left: 150px;
        top: 210px;
    }
    .preface03{
        right: 50px;
        top: 350px;
    }

    .productIntroduction{
        height: 850px;
    }
    .productText{
        font-size: 32px;
    }
    .productPhoto {
        height: 550px;
    }

    .logoIntroduction{
        height: 850px;
    }
    .logoText{
        font-size: 32px;
    }
    .logoPhoto {
        height: 550px;
    }

    .packageIntroduction{
        height: 850px;
    }
    .packageText{
        font-size: 32px;
    }
    .packagePhoto {
        height: 550px;
    }

    .candleIntroduction{
        height: 850px;
    }
    .candleText{
        font-size: 32px;
    }
    .candlePhoto {
        height: 550px;
    }

    /* 回頂端按鈕 */
    .toTopBtn{
        width: 70px;
        height: 70px;
        font-size: 36px;
    }

    /* 底部 */
    .footer{
        height: 350px;
        padding: 40px 60px 0;
        font-size: 24px;
    }
}

@media (min-width:992px) and (max-width:1199.9px) {
     /* top */
     .navbar{
        font-size: 34px;
    }
    .navbar .dropdown-item{
        font-size: 30px;
    }
    .navbar-brand img {
        width: 250px;
    }
  
    .owl-theme .owl-nav.disabled+.owl-dots {
        margin-top: 3px;
        position: relative;
    }
    
  
    /* 介紹  */
    .preface {
        height: 550px;
        font-size: 40px;
    }
    .preface01{
        left: 25px;
        top: 200px;
    }
    .preface02{
        left: 35px;
        top: 280px;
    }
    .preface03{
        right: 20px;
        top: 380px;
    }

    .productIntroduction{
        height: 800px;
    }
    .productText{
        font-size: 26px;
    }
    .productPhoto {
        height: 450px;
    }

    .logoIntroduction{
        height: 800px;
    }
    .logoText{
        font-size: 26px;
    }
    .logoPhoto {
        height: 450px;
    }

    .packageIntroduction{
        height: 800px;
    }
    .packageText{
        font-size: 26px;
    }
    .packagePhoto {
        height: 450px;
    }

    .candleIntroduction{
        height: 800px;
    }
    .candleText{
        font-size: 26px;
    }
    .candlePhoto {
        height: 450px;
    }

    /* 回頂端按鈕 */
    .toTopBtn{
        width: 70px;
        height: 70px;
        font-size: 36px;
    }

    /* 底部 */
    .footer{
        height: 320px;
        padding: 30px 35px 0;
        font-size: 24px;
    }
}

@media (min-width:768px) and (max-width:991px) {
     /* top */
     .navbar{
        font-size: 22px;
    }
    .navbar .dropdown-item{
        font-size: 20px;
    }
    .navbar-brand img {
        width: 200px;
    }
    .navbar-toggler {
        padding: 8px 10px;
        font-size: 30px;
    }

    .owl-theme .owl-nav.disabled+.owl-dots {
        margin-top: 3px;
        position: relative;
    }
    
  
    /* 介紹  */
    .preface {
        height: 450px;
        font-size: 30px;
    }
    .preface01{
        left: 100px;
        top: 50px;
    }
    .preface02{
        left: 100px;
        top: 140px;
    }
    .preface03{
        right: 20px;
        top: 250px;
    }

    .productIntroduction{
        height: 700px;
    }
    .productText{
        font-size: 20px;
    }
    .productPhoto {
        height: 300px;
    }

    .logoIntroduction{
        height: 700px;
    }
    .logoText{
        font-size: 20px;
    }
    .logoPhoto {
        height: 300px;
    }

    .packageIntroduction{
        height: 700px;
    }
    .packageText{
        font-size: 20px;
    }
    .packagePhoto {
        height: 300px;
    }

    .candleIntroduction{
        height: 700px;
    }
    .candleText{
        font-size: 20px;
    }
    .candlePhoto {
        height: 300px;
    }

    /* 回頂端按鈕 */
    .toTopBtn{
        width: 60px;
        height: 60px;
        font-size: 32px;
    }
}

@media (min-width:576px) and (max-width:767.9px) {
    /* top */
    .navbar{
        font-size: 24px;
    }
    .navbar .dropdown-item {
        font-size: 22px;
    }
    .navbar-brand img {
        width: 180px;
    }
    .navbar-toggler {
        padding: 8px 10px;
        font-size: 26px;
    }
    
    .owl-theme .owl-nav.disabled+.owl-dots {
        margin-top: 3px;
        position: relative;
    }
    
  
    /* 介紹  */
    .phone{
        flex-direction: column-reverse;
    }

    .preface {
        height: 500px;
        font-size: 30px;
    }
    .preface01{
        left: 25px;
        top: 50px;
    }
    .preface02{
        left: 35px;
        top: 130px;
    }
    .preface03{
        right: 20px;
        top: 230px;
    }

    .productIntroduction{
        height: 1300px;
    }
    .productText{
        font-size: 24px;
    }
    .productPhoto {
        height: 450px;
    }

    .logoIntroduction{
        height: 1300px;
    }
    .logoText{
        font-size: 24px;
    }
    .logoPhoto {
        height: 450px;
    }

    .packageIntroduction{
        height: 1300px;
    }
    .packageText{
        font-size: 24px;
    }
    .packagePhoto {
        height: 450px;
    }

    .candleIntroduction{
        height: 1500px;
    }
    .candleText{
        font-size: 24px;
    }
    .candlePhoto {
        height: 450px;
    }

    /* 回頂端按鈕 */
    .toTopBtn{
        width: 60px;
        height: 60px;
        font-size: 32px;
    }
}

@media (min-width:376px) and (max-width:575.9px) {
    /* top */
    .navbar{
        font-size: 18px;
    }
    .navbar .dropdown-item{
        font-size: 16px;
    }
    .navbar-brand img {
        width: 150px;
        margin-left: 10px;
    }
    .navbar-toggler {
        padding: 5px 7px;
        font-size: 20px;
    }
    .navbar-toggler-icon {
        width: 20px;
        height: 20px;
    }
    .banner {
        height: 97px;
    }
    
    .owl-theme .owl-dots .owl-dot span {
        width: 8px;
        height: 8px;
        margin: 16px 8px;
    }

    /* 介紹  */
    .phone{
        flex-direction: column-reverse;
    }

    .preface {
        height: 280px;
        font-size: 20px;
    }
    .preface01{
        left: 25px;
        top: 100px;
    }
    .preface02{
        left: 35px;
        top: 150px;
    }
    .preface03{
        right: 20px;
        top: 220px;
    }

    .productIntroduction{
        height: 800px;
    }
    .productText{
        font-size: 16px;
    }
    .productPhoto {
        height: 250px;
    }

    .logoIntroduction{
        height: 800px;
    }
    .logoText{
        font-size: 16px;
    }
    .logoPhoto {
        height: 250px;
    }

    .packageIntroduction{
        height: 800px;
    }
    .packageText{
        font-size: 16px;
    }
    .packagePhoto {
        height: 250px;
    }

    .candleIntroduction{
        height: 1000px;
    }
    .candleText{
        font-size: 16px;
    }
    .candlePhoto {
        height: 250px;
    }

    /* 底部 */
    .footer{
        height: 220px;
        padding: 25px 30px 0;
        font-size: 14px;
    }
}

@media (min-width:321px) and (max-width:375.9px) {
    /* top */
    .navbar{
        font-size: 16px;
    }
    .navbar .dropdown-item{
        font-size: 14px;
    }
    .navbar-brand img {
        width: 110px;
        margin-left: 10px;
    }
    .navbar-toggler {
        padding: 5px 7px;
        font-size: 16px;
    }
    .navbar-toggler-icon {
        width: 15px;
        height: 15px;
    }
    .banner {
        height: 82px;
    }
    .owl-theme .owl-dots .owl-dot span {
        width: 8px;
        height: 8px;
        margin: 16px 8px;
    }

    /* 介紹  */
    .phone{
        flex-direction: column-reverse;
    }

    .preface {
        height: 200px;
        font-size: 18px;
    }
    .preface01{
        left: 25px;
        top: 70px;
    }
    .preface02{
        left: 35px;
        top: 100px;
    }
    .preface03{
        right: 20px;
        top: 150px;
    }

    .productIntroduction{
        height: 650px;
    }
    .productText{
        font-size: 14px;
    }
    .productPhoto {
        height: 200px;
    }

    .logoIntroduction{
        height: 650px;
    }
    .logoText{
        font-size: 14px;
    }
    .logoPhoto {
        height: 200px;
    }

    .packageIntroduction{
        height: 650px;
    }
    .packageText{
        font-size: 14px;
    }
    .packagePhoto {
        height: 200px;
    }

    .candleIntroduction{
        height: 750px;
    }
    .candleText{
        font-size: 14px;
    }
    .candlePhoto {
        height: 200px;
    }

    /* 回頂端按鈕 */
    .toTopBtn{
        width: 40px;
        height: 40px;
    }

    /* 底部 */
    .footer{
        height: 200px;
        padding: 25px 30px 0;
        font-size: 10px;
    }
}

@media (min-width:0px) and (max-width:321px) {
    /* top */
    .navbar{
        font-size: 14px;
    }
    .navbar .dropdown-item{
        font-size: 12px;
    }
    .navbar-brand img {
        margin-left: 10px;
    }
    .navbar-toggler {
        padding: 5px 7px;
        font-size: 15px;
    }
    .navbar-toggler-icon {
        width: 15px;
        height: 15px;
    }
    .banner {
        height: 82px;
    }
    .owl-theme .owl-dots .owl-dot span {
        width: 5px;
        height: 5px;
        margin: 3px 5px;
    }

    /* 介紹  */
    .phone{
        flex-direction: column-reverse;
    }

    .preface {
        height: 200px;
        font-size: 16px;
    }
    .preface01{
        left: 25px;
        top: 70px;
    }
    .preface02{
        left: 35px;
        top: 100px;
    }
    .preface03{
        right: 20px;
        top: 150px;
    }

    .productText{
        font-size: 10px;
    }
    .productPhoto {
        height: 150px;
    }
    
    .logoIntroduction{
        height: 400px;
    }
    .logoText{
        font-size: 10px;
    }
    .logoPhoto {
        height: 150px;
    }

    .packageIntroduction{
        height: 400px;
    }
    .packageText{
        font-size: 10px;
    }
    .packagePhoto {
        height: 150px;
    }

    .candleIntroduction{
        height: 500px;
    }
    .candleText{
        font-size: 10px;
    }
    .candlePhoto {
        height: 150px;
    }

    /* 回頂端按鈕 */
    .toTopBtn{
        width: 40px;
        height: 40px;
    }

    /* 底部 */
    .footer{
        height: 200px;
        padding: 25px 30px 0;
        font-size: 8px;
    }
        

}